@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight;
}
h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}
h5 {
  @apply text-lg;
}
h6 {
  @apply text-base;
}

p {
  @apply text-base;
}

a {
  @apply text-base;
}

#root {
  font-family: "Poppins", sans-serif !important;
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

button:focus {
  @apply outline-none;
}

.container {
  @apply mx-auto;
}

img {
  pointer-events: none;
}

body {
  background-color: #151515;
  color: white;
  /* background-color: white;
  color: #151515; */
}

.home {
  .section-title {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.5rem;
  }

  .section-subtitle {
    color: rgba(255, 255, 255, 0.4);
    /* color: rgba(0, 0, 0, 0.4); */
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.footer {
  .ico {
    fill: white;
    /* fill: #151515; */
  }
}
