@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight;
}
h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}
h5 {
  @apply text-lg;
}
h6 {
  @apply text-base;
}

p {
  @apply text-base;
}

a {
  @apply text-base;
}

#root {
  font-family: "Poppins", sans-serif !important;
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

button:focus {
  @apply outline-none;
}

.container {
  @apply mx-auto;
}

img {
  pointer-events: none;
}
